

#header_container {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.logo {
  padding: 0.5em;
  z-index: -1;
}

.nav-toggle {
  display: none;
}

nav {
  padding-top: 8vh;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--nav-bg-color);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}


