

#header_container {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.logo {
  padding: 0.5em;
  z-index: -1;
  transition: 0.25s ease-in-out;
}

.logo-fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.nav-toggle {
  display: none;
}

nav {
  padding-top: 8vh;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--nav-bg-color);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

