:root {
  --nav-bg-color: #FFF;
}

#header_container {
  background-color: var(--nav-bg-color);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  margin-top: .3em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-toggle-label span {
 display: block;
 background: #000;
 height: 2px;
 width: 2em;
 border-radius: 2px;
 margin-top: 5px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--nav-bg-color);
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

/* Looking for any preceeding sibling nav  */
.nav-toggle:checked ~ nav {
  transform: scale(1,1)
}

.nav-toggle ~ .nav-toggle-label span#burger-top{
  
  transition: 0.5s ease-in;
}

.nav-toggle ~ .nav-toggle-label span#burger-middle {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.nav-toggle ~ .nav-toggle-label span#burger-bottom {
  transition: 0.5s ease-in;
}

.nav-toggle:checked ~ .nav-toggle-label span#burger-top{
  
  transform: rotate(-45deg) translate(-5px, 5px);
  transition: transform 0.5s ease-in;
}

.nav-toggle:checked ~ .nav-toggle-label span#burger-middle {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.nav-toggle:checked ~ .nav-toggle-label span#burger-bottom {
  transform: rotate(45deg) translate(-5px, -5px);
  transition: transform 0.5s ease-in;
}

/* nav links that are a sibling of nav toggle when checked */
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(400px, 1fr) 1fr;
  }
  .logo {
    grid-column: 2/ span 1;
  }

  nav {
    all: unset;
    grid-column : 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    opacity: 1;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
  }
}