.project-card-image-container {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.project-card-image {
  max-width: 110px;
}

div.project-card-content {
  padding-bottom: 10px;
}

.skinny {
  font-weight: 100;
}

h3 {
  font-size: 2rem;
  color: var(--grey-900);
}

h4 {
  color: var(--grey-900);
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
