.res-body {
  margin-top: 2em;
}

.res-heading {
  font-size: 25px;
}

.res-item {
  margin-top: 0.5em;
}

.res-section {
  margin-top: 0.5em;
}

.res-text {
  margin-left: 1em;
  font-size: 15px;
}

/* Tablet and larger */
@media only screen and (min-width: 425px) {
  body {
    background-color: grey;
  }
  .container.res-container {
    transition: ease-in 0.3s;
    max-width: 375px;
    background-color: white;
    padding: 1em;
  }

  #resEl {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}