.res-heading {
  font-size: 1.6rem;
}

.res-item {
  padding-bottom: 2em;
}

.res-section {
  margin-top: 0.5em;
}

.res-text {
  padding: 0.3em;
  margin: 0;
  margin-left: 1em;
  font-size: 1rem;
}

/* Tablet and larger */
@media only screen and (min-width: 425px) {
  .container.res-container {
    transition: ease-in 0.3s;
  max-width: 571px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  }

  #resEl {
    margin-bottom: 50px;
  }
}
