

/* Tablet and larger */
@media only screen and (min-width: 425px) {
    .container.projects-container {
      transition: ease-in 0.3s;
    max-width: 571px;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    }
    
    #projectsEl {
      padding-bottom: 50px;
      margin-bottom: 50px
    }
  }