@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato&display=swap");

:root {
  --fontHeading: "Cormorant Garamond", serif;
  --fontMain: "Lato", sans-serif;
  --color-grey: rgba(184, 184, 184, 1);
  --color-gray-trans: rgba(184, 184, 184, 0.95);
  --color-light: #dbdbdb;
  --color-darkGrey: #494949;

  --h1-standard-size: 40px;
  --h2-standard-size: 35px;
  --h3-standard-size: 30px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--color-darkGrey);
}

body {
  background-color: var(--color-grey);
  font-family: var(--fontHeading);
}

.res-body {
  margin-top: 2em;
}

.res-heading {
  font-size: 25px;
}

.res-item {
  margin-top: 0.5em;
}

.res-section {
  margin-top: 0.5em;
}

.res-text {
  margin-left: 1em;
  font-size: 15px;
}

.socio-icons {
  padding: 40px 40px;
  display: flex;
  place-content: center;
  justify-content: space-between;
}
