.about-text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container.about-container {
  background-color: white;
}

.main-image {
  text-align: center;
}

.is-size-1 {
  font-size: 40px;
}
.p-3 {
  padding: 15px;
}

.p-5 {
  padding: 10px;
}

.rounded {
  border-radius: 50%;
}

/* Tablet and larger */
@media only screen and (min-width: 425px) {
  body {
    background-color: grey;
  }
  .container.about-container {
    transition: ease-in 0.3s;
    max-width: 375px;
    background-color: white;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  #aboutEl {
    margin-top: 50px;
  }
}
