div.about-text {
  margin-top: 4em;
  margin-bottom: 4em;
}

div.about-text hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.main-image {
  text-align: center;
}

#about-image {
filter: grayscale(1);
width: 100%;
height: 100%;
margin-top: 5em;
margin-bottom: 5em;
max-width: 99%;}

div.centered-child {
  text-align: center;
}

.socio-icons {
  font-size: 2.5rem;
  margin-bottom: 2em;
}

i {
  margin-left: .5em;
  margin-right: .5em;
}

.rounded {
  border-radius: 50%;
}

/* Tablet and larger */
@media only screen and (min-width: 425px) {
  .container.about-container {
    transition: ease-in 0.3s;
    max-width: 571px;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

}
