* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  overflow-x: hidden;
}

.burger {
  display: block;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.nav-links {
  position: fixed;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translate(100%);
  transition: transform 0.5s ease-in;
}

#nav-links li {
  opacity: 1;
}

.active #nav-links {
  transform: translate(0%);
  transition: transform 0.5s ease-in;
}

.active #burger-line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.active #burger-line-2 {
  opacity: 0;
}
.active #burger-line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
