:root {
  --navbar-height: 8vh;
  --dark-grey: rgb(61, 67, 71);
  --blue-primary: #88ddfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
  color: var(--dark-grey);
}

a {
  text-decoration: none;
  color: var(--blue-primary);
}

.container {
  width: 95%;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

