@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

:root {
  --paper-white-100: #f7f7f5;
  --paper-white-200: #eeeeea;
  --paper-white-300: #e6e6df;
  --paper-white-400: #ddddd4;
  --paper-white-500: #d4d4c9;
  --paper-white-600: #cbcbbf;
  --paper-white-700: #c3c3b4;
  --paper-white-800: #babaa9;
  --paper-white-900: #b1b19e;
  --grey-900: #212120;
  --grey-800: #2b2b2a;
  --grey-700: #353533;
  --grey-600: #3f3f3d;
  --grey-500: #494947;
  --grey-400: #5d5d5a;
  --grey-300: #676764;
  --grey-200: #71716d;
  --grey-100: #848481;
  --blue-accent: #00c9b0;

  --accent-font: "Poppins", sans-serif;
  --regular-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: var(--regular-font);
  transition: 0.5s ease-in-out;
}

/* Typography */
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--accent-font);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.2rem;
}

.body-light {
  color: var(--grey-800);
  background-color: var(--paper-white-100);
}

.body-light h1,
h2,
h3,
h4 {
  color: var(--grey-900);
}

.body-light a {
  color: var(--grey-700);
}

.body-light a:hover {
  color: var(--grey-900);
}

.body-dark {
  color: var(--paper-white-600);
}

.body-dark h1,
h2 {
  color: unset;
  color: var(--paper-white-100);
}

.body-dark h3,
h4 {
  color: unset;
  color: var(--paper-white-400);
}

.body-dark a {
  color: var(--paper-white-400);
}

.body-dark a:hover {
  transition: 0.5s ease-in;
  color: var(--blue-accent);
}

.container {
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

div#page_container {
  padding-top: 11vh;
}

.container {
  padding: 0.5em;
}

/* Tablet and larger */
@media only screen and (min-width: 425px) {
  div#page-container {
    padding-top: unset;
  }
}

.noise {
  animation: grain 8s steps(10) infinite;
  display: block;
  position: fixed;
  top: -100%;
  left: -50%;
  z-index: -1;
  width: 200%;
  height: 300%;
  opacity: 0.4;
  transition: 500ms ease-in-out;
}

.noise-light {
  background-image: url("./../images/paper_1.png");
}

.noise-dark {
  opacity: 1;
  background-image: url("./../images/broken_noise.png");
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, -20%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
